:root {
    --background: #3a434d;
    --header: #2a363e;
    --link: #6fbf78;
    --linkInactive: #5da265;
    --green: #6fbf78;
    --red: #ce3939;
    --blue: #4c98d9;
    --teal: #38afaf;
    --orange: #e09b2e;
    --purple: #de73ad;
    --yellow: #ebd142;;
}



body {
    background-color: var(--background);
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    margin:0;
    padding:0;
}

p {
    margin-top:0;
}

p a{
    color: var(--linkInactive);
}

p a:hover{
    color: var(--link);
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index:100;
    background-color: var(--header);
}

#header-inner{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 1000px;
    margin:auto;
    padding:30px;
}

#header-left {
    display: flex;
}

#header-right {
    display: flex;
}

#header-right a {
    padding: 7.5px;
}

#footer {
    margin-top:30px;
    text-align:center;
    
}

#footer a{
    padding: 7.5px;
}

.fa {
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa-bandcamp:hover{
    color:var(--teal);
}

.fa-soundcloud:hover{
    color:var(--orange);
}

.fa-youtube-play:hover{
    color:var(--red);
}

.fa-twitter:hover{
    color:var(--blue);
}

.fa-instagram:hover{
    color:var(--purple);
}

.fa-envelope-o:hover{
    color:var(--yellow);
}

#main{
    max-width:1000px;
    margin:auto;
    margin-top:100px;
    padding:30px;
}

#bio{
    display:flex;
    align-items:center;
    width:100%;
}

#bio-portrait{
    display:block;
    width:250px;
    height:100%;
    margin-right:30px;
    border-radius:50%;
    transition: transform .5s ease;
}
/*
#bio-portrait:hover{
    transform: rotate(360deg);
}
*/

#bio-text{
    height:100%;
    justify-content: center;
}

#bio-link{
    display:block;
    font-size: 1.5em;
    width:100%;
}

.portfolioFilter{
    padding-top:30px;
    padding-bottom:30px;
    display: inline-flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:100%;
    max-width:100%;
    overflow:hidden;
    margin:0;
}
button{
    font-family: 'Roboto', sans-serif;
    
}
.filterBtn{
    font-family: 'Roboto', sans-serif;
    color:white;
    border: none;
    outline: none;
    text-align:center;
    margin: auto;
    min-width:5em;
    flex-grow:1;
    transition: background .2s, color .2s;
    background: none;
    height:3em;
}

.filterBtn:hover{
    background:var(--green);
    color:var(--background);
}

.filterBtn.active{
    background:white;
    color:var(--background);
}

#portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 0px;
    list-style-type: none;
}

.portfolio-item{
    position:relative;
    opacity: 0.1;
    width:100%;
    overflow:hidden;
    transition: .2s;
}

.portfolio-item a{
    cursor: default;
}

.portfolio-item.show a{
    cursor: pointer;
}

.show {
    width:100%;
    opacity: 1;
    cursor: pointer;
}

.portfolio-item img{
    display:block;
    width:100%;
    max-width:100%;
    height: 100%;
    overflow:hidden;
    margin:0px;
    /*filter: blur(10px);*/
    transition: .4s ease;
    object-fit: cover;
}

.portfolio-item.show img{
    /*filter: blur(0px);*/
}

.portfolio-item.show:hover img{
    /*transform: scale(1.1);*/
}

.portfolio-item.show:hover .overlay {
    opacity:1;
}

.portfolio-item a:hover{
    color:white;
}

.overlay{
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    transition:.4s ease;
    opacity:0;
    background-color:rgba(0, 0, 0, 0.5);
}

.overlay .overlay-text{
    position:absolute;
    width:90%;
    height:90%;
    align-items:center;
}

.overlay .overlay-title{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom:10px;
    width:100%;
}

.overlay .overlay-description{
    width:100%;
}

.overlay .overlay-credits{
    position:absolute;
    bottom:0;
}

#project-header{
    margin-bottom:50px;
    text-align:center;
}

#project-title{
    text-align:center;
    font-size:3em;
    margin-bottom:0px;
}

#project-subtitle{
    text-align:center;
    font-size:1.7em;
    margin-top:0px;
    margin-bottom: 30px;
    font-weight:normal;
}

#project-content {
    display:flex;
    width:100%;
}

#project-description{
    margin-top:0px;
    margin-right:15px;
    width:100%;
}

#project-links {
    display:flex;
    font-size: 1.5em;
    margin-bottom: 15px;
}

#project-links a{
    margin-right: 30px;
}

#player {
    width:33.33333%;
    height:auto;
    margin-left:auto;
}

h1 {
    font-size:2em;
    margin:0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--link);
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin:0px;
    text-align: left;
    margin-top:15px;
    margin-bottom:15px;
}

.game {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow:visible;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.info {
    margin:1em;
    width:100%;
    position:relative;
}

.link {
    float:right;
}

.credits {
    float:left;
}

.bottom {
    width:100%;
    align-items:center;
}

@media screen and (max-width: 512px) {
    #header-right {
        display: none !important;
    }
    #bio{
        display:block;
    }
    #bio-portrait{
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }
    #bio h3{
        text-align:center;
    }
    #bio-link{
        text-align:center;
    }
    #project-content{
        display:block;
    }
    #player{
        width:100%;
    }
}