@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sora:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@200&family=Sora:wght@200&display=swap');

:root {
    --background: #2c3640;
    --header: #232a2f;
    --main: #27303a;
    --link: #6fbf78;
    --linkInactive: #5da265;
    --green: #6fbf78;
    --red: #ce3939;
    --blue: #4c98d9;
    --teal: #38afaf;
    --orange: #e09b2e;
    --purple: #de73ad;
    --yellow: #ebd142;;
    
    --maxW: 1200px;
}

::selection {
  color: white;
  background: var(--green);
}

body {
    background-color: var(--background);
    background-image: url(/images/background_2.png);
    background-size: 600px 600px;
    background-attachment: fixed;
    color: white;
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
    margin:0;
    padding:0;
}

p {
    margin-top:0;
}

p a{
    color: var(--linkInactive);
}

p a:hover{
    color: var(--link);
}

.wavey {
    background-image: url(/images/sine.png);
    background-repeat: repeat-x;
    animation: wave 10s linear infinite;
}

@keyframes wave {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 100px 0px;
    }
}


h1 {
    margin-top:0px;
}

h2 {
    font-size:2.5em;
    text-align:center;
    margin-top:0px;
    margin-bottom: 45px;
    border-color:white;
    /*border-bottom-style: solid;*/
    border-width: 1px;
}

h2 span {
    background-color: var(--main);
    padding-right: 30px;
    padding-left: 30px;
}

h3 {
    margin-top:0px;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:100;
    background-color: var(--header);
}

#header h1 {
    font-size:2em;
    margin:0;
}

#header-inner{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: var(--maxW);
    margin:auto;
    transition: 0.4s;
    padding: 60px;
}

#header-left {
    display: flex;
}

#header-right {
    display: flex;
}

#header-right a {
    padding: 7.5px;
}

#footer {
    margin-top:30px;
    text-align:center;
    
}

#footer a{
    padding: 7.5px;
}

.fa {
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa-bandcamp:hover{
    color:var(--teal);
}

.fa-soundcloud:hover{
    color:var(--orange);
}

.fa-youtube-play:hover{
    color:var(--red);
}

.fa-twitter:hover{
    color:var(--blue);
}

.fa-instagram:hover{
    color:var(--purple);
}

.fa-envelope-o:hover{
    color:var(--yellow);
}

#main{
    max-width: var(--maxW);
    margin:auto;
    padding: 223px 30px 30px 30px;
    background-color: var(--main);
    perspective: 100px;
}

#bio{
    display: flex;
    align-items: center;
}

#bio ul{
    columns: 3;
    column-width: 100px;
}

#bio-text{
    float: right;
}

#bio-link{
    display:block;
    font-size: 1.5em;
    width:100%;
}

#portrait{
    position: relative;
    display: inline;
    margin-right:30px;
}

#portrait img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

#portrait-underlay{
    position:relative;
}

#portrait-overlay{
    position: absolute;
    left:0;
    top:0;
}
#portrait:hover #portrait-overlay{
    opacity:1;
}

#portrait #portrait-overlay{
    transition:.4s ease;
    opacity: 0;
}

#showreel{
    margin-top:60px;
}

#portfolio{
    margin-top:60px;
}

.portfolioFilter{
    padding-bottom:30px;
    display: inline-flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:100%;
    max-width:100%;
    overflow:hidden;
    margin:0;
}

button{
    font-family: 'Roboto', sans-serif;
    
}
.filterBtn{
    font-family: 'Roboto', sans-serif;
    color:white;
    border: none;
    outline: none;
    text-align:center;
    margin: auto;
    min-width:5em;
    flex-grow:1;
    transition: background .2s, color .2s;
    background: none;
    height:3em;
}

.filterBtn:hover{
    background:var(--green);
    color:var(--background);
}

.filterBtn.active{
    background:white;
    color:var(--background);
}

#portfolio-grid{
    overflow: hidden;
    min-height: 400px;
}

.portfolio-item{
    position:relative;
    opacity: 0.1;
    overflow: hidden;
    width:33.33%;
    display: block;
    user-select: none;
}

.portfolio-item a{
    cursor: default;
}

.portfolio-item.show a{
    cursor: pointer;
}

.show {
    opacity: 1;
    cursor: pointer;
}

.portfolio-item img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow:hidden;
    margin:0px;
    /*filter: blur(10px);*/
    transition: .4s ease;
    object-fit: cover;
    user-select: none;
}

.portfolio-item.show:hover img{

    transform: scale(1.15);
}

.portfolio-item.show:hover .overlay {
    opacity:1;
    /*transform:translateY(0px);*/
}

.portfolio-item a:hover{
    color:white;
}

.overlay{
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    /*transform:translateY(400px);*/
    transition:.4s ease;
    opacity:0;
    background-color:rgba(0, 0, 0, 0.5);
    user-select: none;
}

.overlay .overlay-text{
    position:absolute;
    width:90%;
    height:90%;
    align-items:center;
}

.overlay .overlay-title{
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom:10px;
    width:100%;
}

.overlay .overlay-description{
    width:100%;
}

.overlay .overlay-credits{
    position:absolute;
    text-align: right;
    width: 100%;
    bottom:0;
}

#project-header{
    margin-bottom:50px;
    text-align:center;
}

#project-title{
    text-align:center;
    font-size:2.5em;
    margin-bottom:7.5px;
}

#project-subtitle{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 60px;
    font-weight: normal;
}

#project-content {
    display:flex;
    width:100%;
}

#project-description{
    margin-top: 0px;
    margin-right: 15px;
    width: 100%;
}

#project-players {
    display: block;
    font-size: 1.5em;
    width: 50%;
}

#project-img {
    display: block;
    width: 100%;
    margin-top: 15px;
}

#project-links {
    display: flex;
    justify-content: flex-start;
}

#project-links a{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-justify: center;
    margin-right: 1.5em;
}

span{
    padding-right:0.5em;
}

#player {
    width:100%;
    height:600px;
    margin-bottom:10px;
    padding:0px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--link);
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 30px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-container {
    position: relative;
    width: 100%;
    height: 800px;
    margin:0px;
    text-align: left;
    margin-top:15px;
    margin-bottom:15px;
}

.game {
    position: absolute;
    width: 100%;
    height: 800px;
    overflow:visible;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.info {
    margin:1em;
    width:100%;
    position:relative;
}

.link {
    float:right;
}

.credits {
    float:left;
}

.bottom {
    width:100%;
    align-items:center;
}

@media screen and (max-width: 1200px) {
    .portfolio-item{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #header-right {
        display: none !important;
    }
    #bio{
        display: flex;
        flex-direction: column;
    }
    #portrait{
        display:block;
        width:300px;
        height:300px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:60px;
    }
    #portrait img{
        width:100%;
        height:100%;
        margin-left:auto;
        margin-right:auto;
    }
    #bio-text{
        width:100%;
    }
    #bio h3{
        text-align:center;
    }
    #bio-link{
        text-align:center;
    }
    #project-content{
        display:block;
    }
    #project-links{
        display:flex;
        justify-content: space-around;
    }
    #project-links a{
        text-align:center;
        padding-right:0;
        margin-right:0;
    }
    #project-players{
        width:100%;
    }
    #header-left {
        display:block;
        text-align: center;
        width:100%;
    }
    #player{
        height:800px;
    }
    .portfolio-item{
        width: 100%;
    }
}