@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sora:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@200&family=Sora:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");
@import url("/fonts/axiforma/stylesheet.css");

html {
  scroll-behavior: smooth;
}

:root {
  --background: #1f252c;
  --header: #1b1c21;
  --mainDark: #1f262e;
  --main: #252d37;
  --link: #6fbf78;
  --linkInactive: #5da265;
  --green: #6fbf78;
  --red: #ce3939;
  --blue: #4c98d9;
  --teal: #359b9b;
  --orange: #e09b2e;
  --purple: #de73ad;
  --yellow: #e2c43f;
  --maxW: 1100px;
}

::selection {
  color: white;
  background: var(--green);
}

body {
  background-color: var(--background);
  background-image: url(/images/background_2.png);
  background-size: 600px 600px;
  background-attachment: fixed;
  color: white;
  font-family: "Nunito", sans-serif;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 5em;
}

p {
  margin-top: 0;
}

p a,
li a {
  color: var(--linkInactive);
}

p a:hover {
  color: var(--link);
}

.hover-green:hover {
  color: var(--green);
}

.hover-red:hover {
  color: var(--red);
}

.hover-blue:hover {
  color: var(--blue);
}

.hover-purple:hover {
  color: var(--purple);
}

.hover-yellow:hover {
  color: var(--yellow);
}

.hover-teal:hover {
  color: var(--teal);
}

.hover-orange:hover {
  color: var(--orange);
}

.section-header {
  /*
  background-image: url(/images/sine.png);
  background-repeat: repeat-x;
  animation: wave 10s linear infinite;
  */
}

@keyframes wave {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 100px 0px;
  }
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  margin-top: 0px;
  font-weight: 100;
}

h1 img {
  width: 40px;
  margin-right: 15px;
  vertical-align: middle;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: white;
  /*border-bottom-style: solid;*/
  border-width: 1px;
  font-weight: 100;
}

h2 span {
  padding: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  background: var(--main);
  opacity: 1;
  height: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 15px 0px;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 10px;
  background: var(--green);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: -500px 0 0 500px var(--green);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 10px;
  background: var(--green);
  outline: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0%;
}

input[type="range"]::-moz-range-progress {
  background-color: var(--green);
  height: 10px;
}

input[type="range"]:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
}

input[type="range"]:hover::-moz-range-thumb {
  -webkit-appearance: none;
  background: white;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: var(--header);
}

#header h1 {
  font-size: 2em;
  margin: 0;
}

#highlighted {
  color: white;
  padding: 0px;
}

#header-inner {
  display: flex;

  justify-content: space-between;
  width: var(--maxW);
  margin: auto;
  padding: 45px 60px 45px 60px;
}

#header-left {
  display: flex;
}

#header-right {
  display: flex;
}

#header-right a {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

#footer {
  margin-top: 30px;
  text-align: center;
}

#footer a {
  padding: 7.5px;
}

.fa {
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

#socials {
  margin-top: 1.5em;
  font-size: 1.2em;
  width: 100%;
}

#socials a {
  padding-right: 10px;
}

#main {
  max-width: var(--maxW);
  margin: auto;
  padding: 133px 30px 30px 30px;
  background-color: var(--main);
}

#bio {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

#gameaudio-header {
  margin-top: 30px;
}

.centered {
  text-align: center;
}

.large-text {
  font-size: 1.1em;
}

.section-description {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 2em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#gameaudio-header h1 {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
}

#gameaudio-skills-list {
  columns: 5;
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#gameaudio-skills-list li {
  min-width: 200px;
  text-align: center;
  padding-top: 1em;
}

#gameaudio-otherprojects {
  list-style-type: none;
  text-align: center;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
}

#gameaudio-otherprojects li {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#bio h2 {
  text-align: left;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
}

#bio ul {
  padding-left: 30px;
}

#skills {
  columns: 3;
  column-width: 150px;
}

#bio li {
  margin-right: 15px;
}

#bio-text {
  float: right;
  height: 100%;
}

#bio-link {
  display: block;
  font-size: 1.5em;
  width: 100%;
}

#portrait {
  position: relative;
  display: inline;
  margin-right: 30px;
  min-width: 330px;
}

#portrait img {
  width: 100%;
  height: auto;
}

#portrait-underlay {
  position: relative;
}

#portrait-overlay {
  position: absolute;
  left: 0;
  top: 0;
}

#portrait:hover #portrait-overlay {
  opacity: 1;
}

#portrait #portrait-overlay {
  transition: 0.4s ease;
  opacity: 0;
}

#showreel {
  margin-top: 60px;
}

.carousel-inner {
  background-color: var(--background);
}

.carousel-inner iframe {
  aspect-ratio: 16/9;
  width: 66%;
  margin: 0 auto;
  display: block;
  left: 50%;
}

.carousel-inner img {
  width: 100%;
  margin: auto;
  display: block;
}

.carousel-caption {
  margin: auto;
  width: 66%;
  bottom: 0% !important;
  right: 0% !important;
  left: 0% !important;
  display: block;
  padding-bottom: 60px !important;

  position: relative !important;
}

.panel {
  display: grid;

  grid-gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.redesign {
  margin: 0;
  padding: 0;
}

.redesign-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1d2227;
}

.redesign-grid iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.panel-section {
  background-color: #1d2227;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panel-section-left {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.panel-section-right {
  padding-left: 1em;
  padding-right: 1em;
}

.panel-section iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.panel-section img {
  width: 100%;
}

.panel-section h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0.5em;
}

#music-player {
  background-color: var(--mainDark);
  display: flex;
  align-items: flex-start;
}

.mp-mini {
  flex-direction: column;
  align-items: stretch;
  padding: 15px;
}

.mp-mini #mp-left {
  width: auto;
  flex-grow: 1;
  padding: 0px;
}

.mp-mini .track-genre {
  visibility: hidden;
}

.mp-mini #mp-right {
  width: 100%;
  padding-left: 0;
  flex-grow: 1;
}

.mp-mini #mp-art {
  width: 100%;
}

#mp-art {
  width: 100%;
  height: auto;
  float: left;
}

#mp-left {
  padding: 1.5em;
  padding-right: 0;
  width: 500px;
  height: 100%;
}

#mp-right {
  padding: 1.5em;
  width: 100%;
}

#mp-title {
  font-size: 2em;
}

#mp-visualiser {
  width: 100%;
  height: 100%;
}

#mp-seek {
  width: 100%;
  display: flex;
  align-items: center;
}

#mp-seekbar {
  flex-grow: 10;
}

#mp-currenttime {
  flex-basis: 30px;
  padding-right: 15px;
  text-align: left;
}

#mp-length {
  flex-basis: 30px;
  padding-left: 15px;
  text-align: right;
}

#mp-controls {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

#mp-nav {
  overflow: hidden;
  display: flex;
  height: 100%;
}

#mp-controls .fas {
  vertical-align: middle;
}

#mp-controls button {
  float: left;
  display: block;
  padding-top: auto;
  padding-left: 0px;
  padding-right: 15px;
}

#mp-controls span {
  vertical-align: middle;
  height: 100%;
}

#mp-vol {
  display: flex;
  height: 100%;
  align-items: center;
}

#mp-tracklist {
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
  max-height: 100%;
}

#mp-tracklist li {
  list-style: none;
  padding-left: 5px;
  transition: 0.2s;
  cursor: default;
  overflow: hidden;
  padding: 5px;
}

#mp-tracklist li:hover {
  background: var(--main);
  color: var(--green);
}

#mp-tracklist li.active {
  background: white;
  color: var(--background);
}

#mp-tracklist li.active .track-genre {
  color: var(--background);
}

#mp-tracklist li .track-genre {
  float: right;
  color: rgba(255, 255, 255, 0.5);
}

#music-player button {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1em;
  vertical-align: middle;
}

#music-player button:hover {
  color: var(--green);
}

.portfolioFilter {
  padding-bottom: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
}

button {
  font-family: "Roboto", sans-serif;
}

.filterBtn {
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  margin: auto;
  min-width: 5em;
  flex-grow: 1;
  transition: background 0.2s, color 0.2s;
  background: none;
  height: 3em;
}

.filterBtn:hover {
  background: var(--green);
  color: var(--background);
}

.filterBtn.active {
  background: white;
  color: var(--background);
}

#portfolio-grid {
  overflow: hidden;
  min-height: 400px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 33.33%;
  display: block;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.portfolio-item a {
  cursor: pointer;
}

.portfolio-item.wip a {
  cursor: default;
}

.portfolio-item img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  /*filter: blur(10px);*/
  transition: 0.4s ease;
  object-fit: cover;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item:hover .overlay,
.portfolio-item:active .overlay {
  opacity: 1;
  /*transform:translateY(0px);*/
}

.portfolio-item a:hover {
  color: white;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /*transform:translateY(400px);*/
  transition: 0.4s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  user-select: none;
}

.overlay .overlay-header {
  position: absolute;
  transition: ease-out 0.25s;
  right: 100%;
  width: 100%;
}

.overlay .overlay-text {
  position: absolute;
  width: 90%;
  height: 90%;
  align-items: center;
}

.overlay .overlay-title {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.overlay .overlay-description {
  width: 100%;
}

.overlay .overlay-credits {
  position: absolute;
  text-align: right;
  width: 100%;
  bottom: 0;
  left: 100%;
  transition: ease-out 0.25s;
}

.portfolio-item:hover .overlay .overlay-header {
  right: 0%;
}

.portfolio-item:hover .overlay .overlay-credits {
  left: 0%;
}

#project-header {
  margin-bottom: 50px;
}

#project-title {
  text-align: left;
  font-size: 2.5em;
  margin-bottom: 7.5px;
  margin-top: 60px;
}

#project-summary {
  font-style: italic;
}

#project-subtitle {
  text-align: left;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 60px;
  font-weight: normal;
}

#project-content {
  display: flex;
  width: 100%;
}

#project-description {
  margin-top: 0px;
  margin-right: 15px;
  width: 100%;
}

img.floatright {
  width: 45%;
  float: right;
  padding-left: 1em;
}

img.floatleft {
  width: 45%;
  float: left;
  padding-right: 1em;
}

#project-players {
  display: block;
  width: 50%;
}

#project-img {
  display: block;
  width: 100%;
  margin-top: 15px;
}

#project-links {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-top: 30px;
}

#project-links a {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-justify: center;
  margin-right: 1.5em;
}

#project-links .fas,
#project-links .fab,
#project-links .fa-brands {
  width: auto;
  margin-right: 0.25em;
}

span {
  padding-right: 0.5em;
}

#player {
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
  padding: 0px;
}

.youtube-playlist {
  display: flex;
  align-items: stretch;
  height: 450px;
  background-color: var(--mainDark);
}

.youtube-playlist-selector {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.youtube-playlist ::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

.youtube-playlist ::-webkit-scrollbar-thumb {
  background: #1b1c21;
}

.youtube-playlist ::-webkit-scrollbar-thumb:hover {
  background: rgb(21, 22, 26);
}

.youtube-playlist-item {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.youtube-playlist-item img {
  width: 100%;
}

.youtube-playlist-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.2s ease;
  display: flex;
  vertical-align: center;
}

.youtube-playlist-item-overlay p {
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding: 0;
}

.youtube-playlist-item:hover .youtube-playlist-item-overlay {
  opacity: 1;
}

.youtube-playlist-video {
  flex: 2;
  aspect-ratio: 16/9;
}

.youtube-playlist-video iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--link);
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.video-container.right {
  position: relative;
  width: 100%;
  height: 50%;
  padding-bottom: 56.25%;
  margin: 0;
  margin-bottom: 30px;
}

.video-container.right .video {
  height: 50%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game-container {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  touch-action: none;
}

.game {
  position: absolute;
  width: 100%;
  height: 700px;
  overflow: visible;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.info {
  margin: 1em;
  width: 100%;
  position: relative;
}

.link {
  float: right;
}

.credits {
  float: left;
}

.bottom {
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .portfolio-item {
    width: 50%;
  }

  .youtube-playlist {
    flex-direction: column;
    height: auto;
  }

  .youtube-playlist-selector {
    flex-direction: row;
    overflow-y: auto;
    overflow-x: scroll;
    scroll-behavior: auto;
    height: 200px;
  }

  .youtube-playlist-video {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .youtube-playlist-item {
    width: auto;
    height: 130px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

@media screen and (max-width: 600px) {
  p,
  h1,
  h2,
  h3 {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  #main {
    padding: 145px 0px 30px 0px;
  }

  #socials {
    text-align: center;
  }

  #header-inner {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #header-left {
    display: block;
    text-align: center;
    width: 100%;
  }

  #header-left h1 {
    padding: 0;
  }

  #header-right {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #bio {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  #portrait {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  #portrait img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #project-title,
  #project-subtitle {
    text-align: center;
  }

  #bio-text {
    width: 100%;
  }

  #bio h2 {
    text-align: center;
  }

  #bio-link {
    text-align: center;
  }

  #project-content {
    display: block;
  }

  #project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #project-links i {
    display: block;
  }

  #project-links a {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 0;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
  }

  #project-description img {
    width: 100%;
    padding: 1em 0em 1em 0em;
  }

  #project-players {
    width: 100%;
  }

  #player {
    height: 800px;
  }

  .portfolio-item {
    width: 100%;
  }

  #music-player {
    flex-direction: column;
    align-items: stretch;
  }
  #mp-right {
    padding-top: 0px;
    width: auto;
    flex-grow: 1;
  }

  #mp-left {
    width: auto;
    flex-grow: 1;
    padding-right: 1.5em;
  }

  .mp-mini #mp-left {
    width: 100%;
  }

  .mp-mini #mp-right {
    padding: 0px;
    width: 100%;
  }

  .panel-section {
    display: block;
  }

  .panel-section-left {
    margin-bottom: 15px;
  }

  .panel-section p,
  .panel-section h3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
